/* Javascript Button to Hide start button located in startQuiz */
.hide{
  display: none;
}
.nav-bar-parent{
  /*//////// flexbox starts ////////*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* //////// flexbox ends /////// */
  
  
  font-size: 25px;
}

.center-content{
  text-align: center;
  margin-top: 250px;
}

.center-content h1{
  font-size: 50px;
}
.center-content p{
  font-size: 25px;
}

.center-content button{
  font-size: 50px;
  padding: 20px;
  border-radius: 95%;

}
.center-content button:hover{
  background-color: azure;
}